a{
	color:red;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

nav {
	color:red;
	padding-left:10px;

}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    /* float:left; how come no workey */
    top: 7%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a, .overlay h1, .overlay ul li {
    padding: 8px;
    text-decoration: none;
    font-size: 90%;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#small-menu {
   float: left;
}

#projects{
   float: right;
   margin-right: 20%;
   text-align: center;

}

.overlay a:hover, .overlay a:focus, .overlay ul li:hover, .overlay ul li:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 150%;
}

@media screen and (min-width: 460px) {
  .overlay a {font-size: 200%}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 200px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

}

.nav-icon{
	display:inline-block;
	margin-top:-1.5%;
}

#menu-png {
float:left;
padding-bottom:30%;
}

#en {
	float:right;
	font-size:150%;
}


#logo-bundle {
}

#logo {
  display: block;
	margin:5% auto auto auto;
}

#tagline {
	display:block;
	margin: auto;
}

@media only screen and (max-width: 460px) {
    /* For phone: */
		.nav-icon{
			display:inline-block;
			margin-top:-10px;
		}
    #menu-png{
			padding:-10px 0px 0px 5px;
			float:left;
		}

		#menu-png img{
		 width: 30px;
		 height:auto;
		}
		#en{
			float:right;
			font-size:100%;
		}
		#tagline{
			width: 40%;
			height: auto;
		}
		#logo{
			width:27%;
			height: auto;
			margin-top:20%;
		}
}
